<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>I am AI Engineer</h1>
    <form action="/submit" method="post">
        <p>Name <br><input type="text" name="user" maxlength="30" size="15"></p>
        <p>Email <br><input type="email" name="email" required="required" size="15"></p>
        <p>Password <br><input type="password" name="password" required="required" size="15"></p>
        <input type="submit" name="Submit" value="Log In">
    </form>
</body>

</html>